node_modules
.pnpm-store
.env
.env.local
coverage
dist
.nuxt
.output
test-results
playwright-report
.DS_Store
SETUP.md
SETUP_2.md
terraform.tfstate
terraform.tfstate.backup
.terraform
.terraform.lock.hcl
